body
{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.collection
{
    
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
}


#logo
{
    margin-top: 10px;
    width: 115px;
    height: 150px;
    float: left;
    text-align: center;
    text-size-adjust: 25;
}

#user
{     
    margin-top: 10px;
    float: left;
    width: 885px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

#settings
{
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
}

#home
{
    clear: both;
    width: 100px;
    height: 49px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#menu
{
    float: left;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width:1100px;
    height: 49px;
}

#offer
{
    clear: both;
    height: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;   
    margin-left: auto;
    margin-right: auto;
}
 #image
 {
    float: left;
 }

 #txtnexttoimg
 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:20px;
    float: left;
    height: 160px;
    max-width: 600px;
    text-align: center;
 }

 #textunderimg
 {
    clear: both;
    max-width: 1200px;
    font-size: 10px;
    text-align: left;
    height: 50px;
 }

 #cont
 {
    width: 1200;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

#history
{

    width: 566px;
    height: 426px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 13px;
    margin-left: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: left;
    border: outset;
}

#transactiontxt
{
    font-size: 10px;
    height: 360px ;
    margin-left: 10px;
    margin-right: 10px;
    width: 550px;
}

#balance
{
    float: left;
    margin-right: 128px;
    margin-left: 128px;
    margin-top: 53px;
    margin-bottom: 53px;
    width: 336px;
    height: 336px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: outset;
}

#saldo
{
    text-align: right;
    float: right;
}

#nrkonta
{
   font-size: 12px;
}

#foot
{
    text-align: center;
    clear: both;
    max-width: 1200px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.option1
{
    font-size: 20px;
    float: left;
    padding: 0;
    width: 115px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    
}

.option1:hover
{
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
 .option2
 {
    font-size: 12px;
    width: 200px;
    height: 35px;
    border-bottom: dotted white 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float:left;
 }

 .option2:hover
 {
     background-color: white ;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
    font-weight: bold;
 }


ol
{
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 49px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: black;
    text-decoration: none;
    display: block;
}

ol > li
{
    margin-top: 7px;
    float: left;
    width: 180px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
}

ol > li:hover
{
    background-color:silver;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 49px;
    display: none;

}

ol > li > ul > li
{
    background-color: burlywood;
    text-decoration: none;
    position: relative;
}

ol > li > ul > li:hover
{
    background-color: silver;
}

.odbiorca
{
    margin-left: 10px;
}

.kwota

{
    text-align: right;
    float:right;
    padding-right: 150px;
}
