body
{
    font-size: 20px;
    text-align: center;
    text-shadow: gray  1px 1px 1px ;
}


td
{
    border: 1px black solid;
    margin: 0;
    height: 25px;
    width: 90px;
}

th
{
    background-color: #ffff00;
    height: 25px;
    border: black solid 1px;
    border-top: #ffff89 solid 1px;;
}

.blue
{
    background-color: #9bc2e6;
}

table
{
    border-collapse: collapse;
}